asgiref==3.5.2
distlib==0.3.5
Django==4.1
django-cors-headers==3.13.0
django-filter==22.1
django-rest-auth==0.9.5
djangorestframework==3.10.3
filelock==3.7.1
importlib-metadata==4.12.0
Markdown==3.4.1
platformdirs==2.5.2
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
tzdata==2022.1
virtualenv==20.16.2
zipp==3.8.1
